body {

    background-color: #fff;
    color: #757575;
    font-family: 'Roboto','Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px;
}
.logo-web{
    color: #2196f3;
}

.logo-studio{
    color: #000;
}

.nav-list{
    color: #212121;
    font-weight: 500;
}

.nav-list-link
{color: inherit;}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-map-link:hover,
.address-map-link:focus,
.adress-contact-link:hover,
.adress-contact-link:focus
{color: #2196f3;}

.contact{
    color: #757575;
    font-weight: 500;
    font-size: 14px;
}

.contact-link{
    color: inherit;

}

a{
    text-decoration: none;
    font-style: normal;
}

ul{
    list-style: none;
}

.main-section{
    background-color: #2f303a;
}

.main-title{
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.main-btn{
    background-color: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}


.hero-title{
    color: #fff;
}

.hero-subtitle{
    color: #212121;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.work-title, .team-title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.team{
    background-color: #f5f4fA;
}

.member-team{
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-team-title{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.member-team-descr{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* Page portfolio */

.filter-btn{
    background-color: #f5f4fA;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}



/* Page portfolio */



footer{
    background-color: #2f303a;
}

.logo-studio-footer{
    color: #fff;
}

.address-map{
    color: #fff;
}

.address-map-link{
    color: inherit;
}

.address-contact{
    color: rgba(255, 255, 255, 0.6);
}

.adress-contact-link{
    color: inherit;
}


